@font-face {
    font-family: 'didotdisplaybold';
    src: url('../scss/fonts/didot_display_bold-webfont.woff2') format('woff2'),
         url('../scss/fonts/didot_display_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'didotdisplaydemibold';
    src: url('../scss/fonts/didot_display_demi_bold-webfont.woff2') format('woff2'),
         url('../scss/fonts/didot_display_demi_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'didotdisplayregular';
    src: url('../scss/fonts/didot_display-webfont.woff2') format('woff2'),
         url('../scss/fonts/didot_display-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'robotolight';
    src: url('../scss/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../scss/fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../scss/fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../scss/fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotothin';
    src: url('../scss/fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../scss/fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('../scss/fonts/roboto-webfont.woff2') format('woff2'),
         url('../scss/fonts/roboto-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}