@import 'resetcss';

@font-face {
    font-family: 'Bodoni_roman';
    src: url(../fonts/bodoni/BodoniFLF-Roman.ttf);
    font-weight: normal;
    font-style: normal;

    font-family: 'Bodoni_bold';
    src: url(../fonts/bodoni/BodoniFLF-Bold.ttf);
    font-weight: bold;
    font-style: normal;

    font-family: 'Gothic_Light';
    src: url(../fonts/Gothic_A1/GothicA1-Light.ttf);
    font-weight: lighter;
    font-style: normal;
}


.background {
    background: linear-gradient(180deg, #C31432 -18.47%, #720F34 43.63%, #240B36 118.6%);
    height: 100vh;
    width: 100vw;
    position: relative;
}

.triangles_haut {
    position: absolute;
    top: 0;
    width: 100vw;
    transform: rotate(180deg);
}

.triangles_bas {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: auto;
}

.first_titre {
    position: absolute;
    font-size: 5em;
}