@import 'resetcss';

@font-face {
    font-family: 'bodoniflfregular';
    src: url('../scss/bodoniflf-roman-webfont.woff2') format('woff2'),
         url('../scss/bodoniflf-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.background {
    background: linear-gradient(180deg, #C31432 -18.47%, #720F34 43.63%, #240B36 118.6%);
    height: 100vh;
    width: 100vw;
    position: relative;
}

.triangles_haut {
    position: absolute;
    top: 0;
    width: 100vw;
    transform: rotate(180deg);
}

.triangles_bas {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: auto;
}

.first_titre {
    font-family: 'bodoniflfregular';
    position: absolute;
    font-size: 5em;
}